*{
    margin: 0;
    padding: 0;
}

#inputbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#input{
    width: 400px;
    height: 30px;
    padding: 5px;
    font-size: 15px;
    border-color: aqua;
    border-radius: 10px;
}
input:focus {
    border-color: blue;
  }

#button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-bottom: 10px;
}
#Save{
    padding: 2px;
    width: 50px;
    background-color: aqua;
}

#Clear{
    padding: 2px;
    width: 50px;
    background-color: aqua;
}











